html {
  text-size-adjust: 100%;
}

#name {
  
}
nav {
   text-align: right;
 font-size:.5em;
}
nav ul li {
    display:inline-block;
     text-align: left;
}
a {
    display:block;
    font-size:.5em;
  
}
body {
  background-color: lightgrey;
  font-family: "Arial Black", Helvetica, sans-serif;
  font-size: 5em;
  color: black;
}
     
.main-body {
    
}